<style>
  .logo_footer{
    width: 25px;
    display: block;

  }
  footer{
    border-radius: 5px;
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
  }
</style>

<footer>
  <div class="container">
    <div>
      <img class="logo_footer" src="http://localhost:3333/assets/headerPurple.svg" alt="Logo Gobarber">
    </div>
      <small style="color: #312652">Equipe Gobarber</small>
  </div>
</footer>
