<style>
  .logo{
    width: 100px;
    display: block;

  }
  .container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px;
  }
  header{
    border-radius: 5px;
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
  }
</style>

<header>
  <div class="container">
    <img class="logo" src="http://localhost:3333/assets/headerPurple.svg" alt="Logo Gobarber">
    <div>
      <h3 style="color: #312652">Equipe Gobarber</h3>
    </div>
  </div>
</header>
